

<MudNavMenu>
    <MudNavLink Href="" Match="NavLinkMatch.All" Icon="@Icons.Material.Filled.Home">Home</MudNavLink>
    <MudNavLink Href="counter" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.Add">Counter</MudNavLink>
    <MudNavLink Href="fetchdata" Match="NavLinkMatch.Prefix" Icon="@Icons.Material.Filled.List">Fetch data</MudNavLink>
  
    <MudNavMenu Rounded="true" Margin="Margin.Dense" Color="Color.Primary" Class="pa-2">
        <MudNavLink Href="/Inputs" Icon="@Icons.Filled.Dashboard">Inputs</MudNavLink>
        <MudNavLink Match="NavLinkMatch.Prefix" Href="/components/navmenu" Icon="@Icons.Filled.Storage">Servers</MudNavLink>
        <MudNavLink Href="/thelab" Icon="@Icons.Filled.Science">The Lab</MudNavLink>
    </MudNavMenu>
    <MudNavGroup Title="Settings" Expanded="true" Icon="@Icons.TwoTone.Settings" >
            <MudNavLink Href="/users" Match="NavLinkMatch.Prefix">Users</MudNavLink>
            <MudNavLink Href="/security" Match="NavLinkMatch.Prefix">Security</MudNavLink>
    </MudNavGroup>
    @*<div class="nav-item px-3">
            <SfAccordion>
                <AccordionItems>
                    <AccordionItem Expanded="true">
                    <HeaderTemplate>
                        <div style="padding-top:5px;">
                            <i class="icofont-ui-settings icofont-1x"
                                style="font-size: 24px;color:chocolate;">
                            </i>&nbsp; &nbsp;Settings
                        </div>
                    </HeaderTemplate>
                    
                        <ContentTemplate>
                            <NavLink class="nav-link" href="Settings" Match="NavLinkMatch.All">
                                <span class="oi oi-home" aria-hidden="true"></span> Item 1
                            </NavLink>
                             <NavLink class="nav-link" href="Settings" Match="NavLinkMatch.All">
                                <span class="oi oi-home" aria-hidden="true"></span> Item 2
                            </NavLink>
                             <NavLink class="nav-link" href="Settings" Match="NavLinkMatch.All">
                                <span class="oi oi-home" aria-hidden="true"></span> Item 3
                            </NavLink>
                        </ContentTemplate>
                    </AccordionItem>
                </AccordionItems>
            </SfAccordion>
        </div>*@
</MudNavMenu>
